.nav
{
    width: 200px;
    height: auto;
    position: absolute;
    top: 5%;
    left:10px;
}
.nav a
{
    width: 180px;
    height: 70px;
    margin: 5px 0;
    float: left;
    display: inline-block;
    background-color: rgba(244, 242, 242, 0.233);
    overflow: hidden;
    font-family: verdana;
    text-decoration: none;
    font-size: 22px;
    margin-top: 5px;
    text-align: center;
    line-height: 80px;
    color: white;
}
header
{
    color:rgb(22, 86, 3);
    text-align: center;    
    margin: 100px;
}
body
{
    background-size: cover;
    padding: 99px;
    background-color: aqua;
}